/* ========================================================================
 * RESET
 * ======================================================================== */
body,
html {
  background-color: #e9eaed;
  font-family: "Open Sans", sans-serif;
  color: #636e7b;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  line-height: 21px;
  width: 100%;
  margin: 0;
  padding: 0;
}
a,
button {
  outline: none !important;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select {
  border: 1px solid #dddddd;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #a2a2a2 !important;
  font-size: 13px !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
}
input[type=file] {
  border: none !important;
}
input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  color: #999;
  cursor: not-allowed;
}
label {
  font-weight: normal;
}
code {
  background: transparent;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
svg {
  width: 100%;
}

/*MP Color*/  
.mp-color {
    position:relative;
	display: block;
	text-align: center;
	background: #fff;
	
}
.mp-color input[type="radio"]{
    width: 13px;
    float: left;
    cursor:pointer;
    }
    
.mp-color span {
	margin: 0 5px;
	width: 38px;
	height: 25px;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	margin-top: 10px;
    float: left;
    margin-right: 20px;
    
}
.mp-color span.color1, .mp-color span.blue {background-color:#29B6F6;}
.mp-color span.color2, .mp-color span.green {background-color:#82B440;}
.mp-color span.color3, .mp-color span.blue2 {background-color:#3498db;}
.mp-color span.color4, .mp-color span.blaze {background-color:#16A085;}
.mp-color span.color5, .mp-color span.orange {background-color:#F2784B;}
.mp-color span.color6, .mp-color span.pink {background-color:#D2527F;}
.mp-color span.color7, .mp-color span.purple {background-color:#BF55EC;}
.mp-color span.color8, .mp-color span.red {background-color:#e74c3c;}
.mp-color span.color9, .mp-color span.gold {background-color:#E3A303;}
.mp-color span.color10, .mp-color span.dark {background: linear-gradient(to bottom, black 0%,black 50%,#000000 50%,#969696 50%,#969696 100%);}
.mp-color span.color11, .mp-color span.bordo {background-color:#A60013;}
.mp-color span.color12, .mp-color span.coffee {background-color:#85634B;}
.mp-color span.color13, .mp-color span.royal {background-color:#0033CC;}
.mp-color span.color14, .mp-color span.yellow {background-color:#FFCC00;}
.mp-color span.color15, .mp-color span.red_blue {background: linear-gradient(to bottom, #08419C 0%,#08419C 50%,#08419C 50%,#E30303 50%,#E30303 100%);}
.mp-color span.color16, .mp-color span.cherry {background-color:#9C0221;}
